body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 120%;
    background-color: rgba(185, 168, 168, 0.507);
}

table {
    /* border-collapse: collapse; */
    border: 50px solid rgb(112, 85, 50);
    padding: 10px;
    margin: auto;
    margin-top: 60px;
    background-color: black;
    position: relative;
}

td {
    width: 90px;
    height: 90px;
}

.light-cell {
    background-color: white;
}

.dark-cell {
    background-color: rgb(108, 108, 109);
}

.selected {
    background-color: rgba(253, 228, 8, 0.952);
}

.possible-move {
    background-color: rgb(72, 255, 0);
    box-shadow: inset rgb(27, 43, 32) 0 0 15px;
}

img {
    width: 75px;
    height: 75px;
}
.winner-dialog {
    position: absolute;
    transform: translate(47%, -300%);
    padding: 45px;
    border-radius: 8px;
    background-color: azure;
    border: 1px solid black;
    text-shadow: 0 0 10px rgb(187, 132, 132);
    font-size: 200%;
    width: max-content;
}